/* /Shared/Board.razor.rz.scp.css */
div[b-qs4gyx1spr] {
	position: relative;
}

nav[b-qs4gyx1spr] {
	top: 4em;
	width: 30em;
	display: inline-flex;
	flex-direction: row;
	margin-left: 10px;
}

nav span[b-qs4gyx1spr] {
	width: 4em;
	text-align: center;
	cursor: pointer;
	font-size: 1em;
}

div.board[b-qs4gyx1spr] {
	margin-top: 1em;
	flex-wrap: wrap;
	width: 30em;
	height: 24em;
	overflow: hidden;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	z-index: -5;
	row-gap: 0;
	pointer-events: none;
	border-left: 10px solid var(--board-bg);
}

span.container[b-qs4gyx1spr] {
	width: 4em;
	height: 4em;
	margin: 0;
	padding: 4px;
	overflow: hidden;
	background-color: transparent;
	position: relative;
	z-index: -2;
	pointer-events: none;
}

.container span[b-qs4gyx1spr] {
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	box-shadow: 0 0 0 3em var(--board-bg);
	left: 0px;
	position: absolute;
	display: block;
	z-index: 5;
	pointer-events: none;
}

.player1[b-qs4gyx1spr], .player2[b-qs4gyx1spr] {
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	left: 0px;
	top: 0px;
	position: absolute;
	display: block;
	z-index: -8;
}

.player1[b-qs4gyx1spr] {
	background-color: var(--player1);
	animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	box-shadow: 0 0 0 4px var(--player1);
}

.player2[b-qs4gyx1spr] {
	background-color: var(--player2);
	animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	box-shadow: 0 0 0 4px var(--player2);
}

.col0[b-qs4gyx1spr] {
	left: calc(0em + 9px);
}

.col1[b-qs4gyx1spr] {
	left: calc(4em + 9px);
}

.col2[b-qs4gyx1spr] {
	left: calc(8em + 9px);
}

.col3[b-qs4gyx1spr] {
	left: calc(12em + 9px);
}

.col4[b-qs4gyx1spr] {
	left: calc(16em + 9px);
}

.col5[b-qs4gyx1spr] {
	left: calc(20em + 9px);
}

.col6[b-qs4gyx1spr] {
	left: calc(24em + 9px);
}

.drop1[b-qs4gyx1spr] {
	animation-duration: 1s;
	animation-name: drop1-b-qs4gyx1spr;
}

.drop2[b-qs4gyx1spr] {
	animation-duration: 1.5s;
	animation-name: drop2-b-qs4gyx1spr;
}

.drop3[b-qs4gyx1spr] {
	animation-duration: 1.6s;
	animation-name: drop3-b-qs4gyx1spr;
}

.drop4[b-qs4gyx1spr] {
	animation-duration: 1.7s;
	animation-name: drop4-b-qs4gyx1spr;
}

.drop5[b-qs4gyx1spr] {
	animation-duration: 1.8s;
	animation-name: drop5-b-qs4gyx1spr;
}

.drop6[b-qs4gyx1spr] {
	animation-duration: 1.9s;
	animation-name: drop6-b-qs4gyx1spr;
}

@keyframes drop1-b-qs4gyx1spr {
	75%, 90%, 97%, 100% {
		transform: translateY(1.27em);
	}

	80% {
		transform: translateY(0.4em);
	}

	/*-15% */
	95% {
		transform: translateY(0.8em);
	}

	/* -7% */
	99% {
		transform: translateY(1.0em);
	}

	/* -3% */
}

@keyframes drop2-b-qs4gyx1spr {
	75%, 90%, 97%, 100% {
		transform: translateY(5.27em);
	}

	80% {
		transform: translateY(3.8em);
	}

	/*-15% */
	95% {
		transform: translateY(4.6em);
	}

	/* -7% */
	99% {
		transform: translateY(4.9em);
	}

	/* -3% */
}

@keyframes drop3-b-qs4gyx1spr {
	75%, 90%, 97%, 100% {
		transform: translateY(9.27em);
	}

	80% {
		transform: translateY(7.2em);
	}

	/*-15% */
	95% {
		transform: translateY(8.3em);
	}

	/* -7% */
	99% {
		transform: translateY(8.8em);
	}

	/* -3% */
}

@keyframes drop4-b-qs4gyx1spr {
	75%, 90%, 97%, 100% {
		transform: translateY(13.27em);
	}

	80% {
		transform: translateY(10.6em);
	}

	/*-15% */
	95% {
		transform: translateY(12em);
	}

	/* -7% */
	99% {
		transform: translateY(12.7em);
	}

	/* -3% */
}

@keyframes drop5-b-qs4gyx1spr {
	75%, 90%, 97%, 100% {
		transform: translateY(17.27em);
	}

	80% {
		transform: translateY(14em);
	}

	/*-15% */
	95% {
		transform: translateY(15.7em);
	}

	/* -7% */
	99% {
		transform: translateY(16.5em);
	}

	/* -3% */
}

@keyframes drop6-b-qs4gyx1spr {
	75%, 90%, 97%, 100% {
		transform: translateY(21.27em);
	}

	80% {
		transform: translateY(17.4em);
	}

	95% {
		transform: translateY(19.4em);
	}

	99% {
		transform: translateY(20.4em);
	}
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-q0y4nstqh1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-q0y4nstqh1] {
    flex: 1;
}

.sidebar[b-q0y4nstqh1] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-q0y4nstqh1] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-q0y4nstqh1]  a, .top-row[b-q0y4nstqh1]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-q0y4nstqh1]  a:hover, .top-row[b-q0y4nstqh1]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-q0y4nstqh1]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-q0y4nstqh1] {
        display: none;
    }

    .top-row.auth[b-q0y4nstqh1] {
        justify-content: space-between;
    }

    .top-row[b-q0y4nstqh1]  a, .top-row[b-q0y4nstqh1]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-q0y4nstqh1] {
        flex-direction: row;
    }

    .sidebar[b-q0y4nstqh1] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-q0y4nstqh1] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-q0y4nstqh1]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-q0y4nstqh1], article[b-q0y4nstqh1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-sa1rkafp40] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-sa1rkafp40] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-sa1rkafp40] {
    font-size: 1.1rem;
}

.oi[b-sa1rkafp40] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-sa1rkafp40] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-sa1rkafp40] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-sa1rkafp40] {
        padding-bottom: 1rem;
    }

    .nav-item[b-sa1rkafp40]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-sa1rkafp40]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-sa1rkafp40]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-sa1rkafp40] {
        display: none;
    }

    .collapse[b-sa1rkafp40] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
